USE [master]
GO
/****** Object:  Database [My_text]    Script Date: 11/13/2025 12:26:47 AM ******/
CREATE DATABASE [My_text]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'My_text', FILENAME = N'F:\Microsoft SQL Studio Management Setup\MSSQL16.SQLEXPRESS\MSSQL\DATA\My_text.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'My_text_log', FILENAME = N'F:\Microsoft SQL Studio Management Setup\MSSQL16.SQLEXPRESS\MSSQL\DATA\My_text_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [My_text].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [My_text]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/13/2025 12:26:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Name] [nvarchar](50) NOT NULL,
	[FatherName] [nvarchar](50) NOT NULL,
	[Degree] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[MatricGrade] [nchar](1) NOT NULL,
	[InterGrade] [nchar](1) NOT NULL,
	[RegNo] [numeric](18, 0) NOT NULL,
	[CNIC] [nvarchar](15) NOT NULL,
	[DOB] [date] NOT NULL,
	[Gender] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
